.container {
  padding: 2rem;
}

.form-wrapper {
  margin-bottom: 2rem;
}

.main-wrapper {
  display: flex;
  justify-content: left;
  margin: 0 auto;
  max-width: 500px;
  max-height: 70vh;
  overflow-y: auto;
}

.main-wrapper > table {
  width: 100%;
}

.main-wrapper thead {
  text-align: center;
}
.main-wrapper td {
  border: 1px solid red;
}