<div class="container">
  <form class="form-wrapper">
    <label for="category-filter">Filter: </label>
    <input type="text" id="category-filter" name="category-filter" [(ngModel)]="filterVal" (ngModelChange)="filterCategories()">
  </form>

  <main class="main-wrapper">
    <table>
      <thead>
        <th>Categories</th>
      </thead>
      <tbody>
        <tr *ngFor="let category of displayCategories">
          <td>{{category | lookUp: categoriesDict }}</td>
        </tr>
      </tbody>
    </table>
  </main>
</div>